article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif;  }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
a { color: rgba(201, 154, 104, 1); text-decoration:none; }
a:visited { color: rgba(201, 154, 104, 1); }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) {
    overflow: hidden;
}
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }







.padder {
	margin:10px;
	padding:10px;
}




body {
    background: url(images/bodybkg2.png) repeat;
    font: 1em/1.1em "jubilat", Helvetica Neue, Arial;
    color: #636365;
}

.wrapper{
	width:90%;
	margin:0 5%;
}



::-moz-selection { background: rgba(198, 129, 68, .7); color: #fff; text-shadow: none; }
::selection      { background: rgba(198, 129, 68, .7); color: #fff; text-shadow: none; }


/* =========================
    ALL: Colors & Structure
   ========================= */

.header-container{ border-bottom: 13px solid rgba(201, 154, 104, 1); }
.footer-container{ border-top:    13px solid rgba(201, 154, 104, 1); }
.main aside      { border-top:    13px solid rgba(201, 154, 104, .7); }

.header-container,
.footer-container {
    background: url(images/bodybkg3.png) repeat;
}
.main aside {
	background: rgba(255,255,255, .45);
}

.title{
	font-family: "alternate-gothic-no-3-d",sans-serif;
	font-size:2.7em;
	margin:15px 0;
	color:rgba(255,255,255,1);
}


.header-container header{
	text-align:center;
}

nav ul li {
	width:10%;
	text-align: center;
    float: left;
}
 
nav ul {
    margin: 0;
    padding: 0;
}

nav  a {
	font-size:1.4em;
    display: block;
    margin: 15px 0;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, .3) 2px 2px 2px;
}

nav a:hover,
nav a:visited {
}

nav a:hover {
    color: white;
}

nav li a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 10px 1%;
        margin-bottom: 0;
    }

nav li:first-child a {
        margin-left: 0;
}

nav li:last-child a {
        margin-right: 0;
}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }


section article {
	padding:15px;
	margin:15px;
	background:rgba(255,255,255,.25);
}

section {
	display:block;
	float:left;
	width:75%;
	margin:20px 1% 0 0;
}
aside {
	display:block;
	float:right;
	width:24%;
	margin:35px 0 20px;
	padding:0px;
}

aside ul {
    padding:0;
    margin:0;
    list-style:none;
}


/* ===============
    Wordpress Styles
   =============== */

.entry-title {
	font-family: "alternate-gothic-no-3-d", sans-serif;
	font-weight:normal;
	font-size:3.3em;
}
.entry-meta {
	font-size:.9em;
	font-weight:100;

}
.entry-utility {
	border-top:5px solid rgba(50, 50, 50, 0.2);
}






/* WEBSITE */



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title{ padding-top:20px; }



/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 540px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

	.header-container{
		-webkit-box-shadow:0 5px 8px rgba(0, 0, 0, 0.15);
		   -moz-box-shadow:0 5px 8px rgba(0, 0, 0, 0.15);
		        box-shadow:0 5px 8px rgba(0, 0, 0, 0.15);
	}

	.header-container header{
		text-align:left;
	}
	
	
	.ie7 #header-container header,
	.ie8 #header-container header{
		height:auto;
	}

	.title{
		text-shadow:0 -2px 2px rgba(0, 0, 0, 0.2);
	}

	.title-container{
		float:left;
		width:63%;
	}
	
	.html5-logo-container{
		float:left;
		width:0;
	}

	.follow-iframes-container{
		width:260px;
		float:right;
	}

	.follow-iframes-container iframe{
		float:right;
		width:146px!important;
		margin-bottom:6px;
	}

	.ie9 .follow-iframes-container iframe,
	.ie8 .follow-iframes-container iframe,
	.ie7 .follow-iframes-container iframe{
		width:135px!important;
	}
	



@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

	.wrapper{
		width:1026px; /* 1140px - 10% for margins */
		margin:0 auto;
	}
}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}






// Add some basic styling
.clear {
  clear: both;
}

