
@import "compass/reset";

@mixin breakpoint($point) {
  @if $point == sm-max {
    @media (max-width: 460px) { @content; }
  }
  @else if $point == md-max {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == lg-max {
    @media (max-width: 1024px)  { @content; }
  }
  @else if $point == sm-min {
    @media (min-width: 320px) { @content; }
  }
  @else if $point == md-min {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == lg-min {
    @media (min-width: 960px)  { @content; }
  }
}

@mixin lego {
	display: block;

}

$h1-fontstack:"'alternate-gothic-no-3-d',sans-serif";
$h2-fontstack:"'alternate-gothic-no-3-d',sans-serif";
$body-fontstack:"'jubilat', Helvetica Neue, Arial";

$bbl-color: "rgba(201, 154, 104, 1)";
$dark1-color: "#636365";
$light1-color: "#fff";


body {
    background: url(images/bodybkg2.png) repeat;
    font: 1em/1.1em $body-fontstack;
    color: $dark1-color;
}

header.header-container {
	width:100%;
	@include lego;

hgroup {
	@include lego;
h1.title{font:$h1-fontstack;}
}
nav.top {
	@include lego;

}
}

.wrapper {
	@include lego;
 	width: 1024px;
 	@include breakpoint(sm-max) { width: 320px; }
 	@include breakpoint(md-max) { width: 768px; }
 	@include breakpoint(lg-max) { width: 960px; }

section.content-main {

}
aside.widget-area {

}

}

footer.footer {
	color:$light1-color;
}