/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 7, ../sass/screen.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 8, ../sass/screen.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 9, ../sass/screen.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

/* line 10, ../sass/screen.scss */
body, button, input, select, textarea {
  font-family: sans-serif; }

/* line 11, ../sass/screen.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* line 12, ../sass/screen.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* line 13, ../sass/screen.scss */
a {
  color: #c99a68;
  text-decoration: none; }

/* line 14, ../sass/screen.scss */
a:visited {
  color: #c99a68; }

/* line 15, ../sass/screen.scss */
a:focus {
  outline: thin dotted; }

/* line 16, ../sass/screen.scss */
a:hover, a:active {
  outline: 0; }

/* line 17, ../sass/screen.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 18, ../sass/screen.scss */
b, strong {
  font-weight: bold; }

/* line 19, ../sass/screen.scss */
blockquote {
  margin: 1em 40px; }

/* line 20, ../sass/screen.scss */
dfn {
  font-style: italic; }

/* line 21, ../sass/screen.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 22, ../sass/screen.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

/* line 23, ../sass/screen.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 24, ../sass/screen.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 25, ../sass/screen.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 26, ../sass/screen.scss */
q {
  quotes: none; }

/* line 27, ../sass/screen.scss */
q:before, q:after {
  content: "";
  content: none; }

/* line 28, ../sass/screen.scss */
small {
  font-size: 85%; }

/* line 29, ../sass/screen.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 30, ../sass/screen.scss */
sup {
  top: -0.5em; }

/* line 31, ../sass/screen.scss */
sub {
  bottom: -0.25em; }

/* line 32, ../sass/screen.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

/* line 33, ../sass/screen.scss */
dd {
  margin: 0 0 0 40px; }

/* line 34, ../sass/screen.scss */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 35, ../sass/screen.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 36, ../sass/screen.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 39, ../sass/screen.scss */
figure {
  margin: 0; }

/* line 40, ../sass/screen.scss */
form {
  margin: 0; }

/* line 41, ../sass/screen.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 42, ../sass/screen.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/* line 43, ../sass/screen.scss */
label {
  cursor: pointer; }

/* line 44, ../sass/screen.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 45, ../sass/screen.scss */
button, input {
  line-height: normal;
  *overflow: visible; }

/* line 46, ../sass/screen.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 47, ../sass/screen.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

/* line 48, ../sass/screen.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 49, ../sass/screen.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 50, ../sass/screen.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 52, ../sass/screen.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* line 53, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 61, ../sass/screen.scss */
.padder {
  margin: 10px;
  padding: 10px; }

/* line 69, ../sass/screen.scss */
body {
  background: url(images/bodybkg2.png) repeat;
  font: 1em/1.1em "jubilat", Helvetica Neue, Arial;
  color: #636365; }

/* line 75, ../sass/screen.scss */
.wrapper {
  width: 90%;
  margin: 0 5%; }

/* line 82, ../sass/screen.scss */
::-moz-selection {
  background: rgba(198, 129, 68, 0.7);
  color: #fff;
  text-shadow: none; }

/* line 83, ../sass/screen.scss */
::selection {
  background: rgba(198, 129, 68, 0.7);
  color: #fff;
  text-shadow: none; }

/* =========================
    ALL: Colors & Structure
   ========================= */
/* line 90, ../sass/screen.scss */
.header-container {
  border-bottom: 13px solid #c99a68; }

/* line 91, ../sass/screen.scss */
.footer-container {
  border-top: 13px solid #c99a68; }

/* line 92, ../sass/screen.scss */
.main aside {
  border-top: 13px solid rgba(201, 154, 104, 0.7); }

/* line 95, ../sass/screen.scss */
.header-container,
.footer-container {
  background: url(images/bodybkg3.png) repeat; }

/* line 98, ../sass/screen.scss */
.main aside {
  background: rgba(255, 255, 255, 0.45); }

/* line 102, ../sass/screen.scss */
.title {
  font-family: "alternate-gothic-no-3-d",sans-serif;
  font-size: 2.7em;
  margin: 15px 0;
  color: white; }

/* line 110, ../sass/screen.scss */
.header-container header {
  text-align: center; }

/* line 114, ../sass/screen.scss */
nav ul li {
  width: 10%;
  text-align: center;
  float: left; }

/* line 120, ../sass/screen.scss */
nav ul {
  margin: 0;
  padding: 0; }

/* line 125, ../sass/screen.scss */
nav a {
  font-size: 1.4em;
  display: block;
  margin: 15px 0;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px; }

/* line 140, ../sass/screen.scss */
nav a:hover {
  color: white; }

/* line 144, ../sass/screen.scss */
nav li a {
  float: left;
  width: 27%;
  margin: 0 1.7%;
  padding: 10px 1%;
  margin-bottom: 0; }

/* line 152, ../sass/screen.scss */
nav li:first-child a {
  margin-left: 0; }

/* line 156, ../sass/screen.scss */
nav li:last-child a {
  margin-right: 0; }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
/* line 164, ../sass/screen.scss */
nav ul li {
  display: inline; }

/* line 169, ../sass/screen.scss */
section article {
  padding: 15px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.25); }

/* line 175, ../sass/screen.scss */
section {
  display: block;
  float: left;
  width: 75%;
  margin: 20px 1% 0 0; }

/* line 181, ../sass/screen.scss */
aside {
  display: block;
  float: right;
  width: 24%;
  margin: 35px 0 20px;
  padding: 0px; }

/* line 189, ../sass/screen.scss */
aside ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/* ===============
    Wordpress Styles
   =============== */
/* line 200, ../sass/screen.scss */
.entry-title {
  font-family: "alternate-gothic-no-3-d", sans-serif;
  font-weight: normal;
  font-size: 3.3em; }

/* line 205, ../sass/screen.scss */
.entry-meta {
  font-size: .9em;
  font-weight: 100; }

/* line 210, ../sass/screen.scss */
.entry-utility {
  border-top: 5px solid rgba(50, 50, 50, 0.2); }

/* WEBSITE */
/* ===============
    ALL: IE Fixes
   =============== */
/* line 227, ../sass/screen.scss */
.ie7 .title {
  padding-top: 20px; }

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 237, ../sass/screen.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* line 238, ../sass/screen.scss */
.ir br {
  display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 242, ../sass/screen.scss */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 246, ../sass/screen.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 249, ../sass/screen.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
/* line 252, ../sass/screen.scss */
.invisible {
  visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 255, ../sass/screen.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

/* line 256, ../sass/screen.scss */
.clearfix:after {
  clear: both; }

/* line 257, ../sass/screen.scss */
.clearfix {
  zoom: 1; }

/* ==|== media queries ====================================================== */
@media only screen and (min-width: 540px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* line 268, ../sass/screen.scss */
  .header-container {
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15); }

  /* line 274, ../sass/screen.scss */
  .header-container header {
    text-align: left; }

  /* line 280, ../sass/screen.scss */
  .ie7 #header-container header,
  .ie8 #header-container header {
    height: auto; }

  /* line 284, ../sass/screen.scss */
  .title {
    text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2); }

  /* line 288, ../sass/screen.scss */
  .title-container {
    float: left;
    width: 63%; }

  /* line 293, ../sass/screen.scss */
  .html5-logo-container {
    float: left;
    width: 0; }

  /* line 298, ../sass/screen.scss */
  .follow-iframes-container {
    width: 260px;
    float: right; }

  /* line 303, ../sass/screen.scss */
  .follow-iframes-container iframe {
    float: right;
    width: 146px!important;
    margin-bottom: 6px; }

  /* line 311, ../sass/screen.scss */
  .ie9 .follow-iframes-container iframe,
  .ie8 .follow-iframes-container iframe,
  .ie7 .follow-iframes-container iframe {
    width: 135px!important; }

  /* =============================================================================
     Print styles.
     Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  /* line 357, ../sass/screen.scss */
  .clear {
    clear: both; } }
@media only screen and (min-width: 540px) and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  /* line 324, ../sass/screen.scss */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto; } }
