/* line 1, ../sass/repocode.scss */
.float-left {
  float: left; }

/* line 5, ../sass/repocode.scss */
.float-right {
  float: right; }

/* line 9, ../sass/repocode.scss */
.hide {
  display: none; }

/* line 12, ../sass/repocode.scss */
.show {
  display: block; }

/* line 15, ../sass/repocode.scss */
.code {
  font: 0.8em/1.6 Monaco, Mono-Space, monospace; }

/* line 18, ../sass/repocode.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 24, ../sass/repocode.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

/* line 29, ../sass/repocode.scss */
.clearfix:after {
  clear: both; }

/* IE6/7 support */
/* line 34, ../sass/repocode.scss */
.clearfix {
  *zoom: 1; }

/* line 37, ../sass/repocode.scss */
.visuallyhidden {
  position: absolute;
  width: 1px;
  /* Setting this to 0 make it invisible for VoiceOver */
  height: 1px;
  /* Setting this to 0 make it invisible for VoiceOver */
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

/* line 47, ../sass/repocode.scss */
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* line 52, ../sass/repocode.scss */
.break {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/* line 62, ../sass/repocode.scss */
.ellipsis {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  /* Required for IE8 */
  -o-text-overflow: ellipsis;
  /* Required for Opera */
  text-overflow: ellipsis; }

/* line 70, ../sass/repocode.scss */
pre {
  white-space: pre-wrap;
  /* Chrome & Safari */
  white-space: -moz-pre-wrap;
  /* Mozilla since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }
