/* line 17, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 39, ../sass/screen.scss */
body {
  background: url(images/bodybkg2.png) repeat;
  font: 1em/1.1em "'jubilat', Helvetica Neue, Arial";
  color: "#636365"; }

/* line 45, ../sass/screen.scss */
header.header-container {
  width: 100%;
  display: block; }
  /* line 49, ../sass/screen.scss */
  header.header-container hgroup {
    display: block; }
    /* line 51, ../sass/screen.scss */
    header.header-container hgroup h1.title {
      font: "'alternate-gothic-no-3-d',sans-serif"; }
  /* line 53, ../sass/screen.scss */
  header.header-container nav.top {
    display: block; }

/* line 59, ../sass/screen.scss */
.wrapper {
  display: block;
  width: 1024px; }
  @media (max-width: 460px) {
    /* line 59, ../sass/screen.scss */
    .wrapper {
      width: 320px; } }
  @media (max-width: 800px) {
    /* line 59, ../sass/screen.scss */
    .wrapper {
      width: 768px; } }
  @media (max-width: 1024px) {
    /* line 59, ../sass/screen.scss */
    .wrapper {
      width: 960px; } }

/* line 75, ../sass/screen.scss */
footer.footer {
  color: "#fff"; }
